@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --primary-color: yellow;
    --seconday-color: rgb(53, 154, 248);
}


body{
    margin:0px;
    font-family: 'Indie Flower', cursive;
}

#txt-output{
    padding: 2rem;
    margin: 1rem;
    border: 1px solid black;
    display: block;
}
